.clue-view {
    -fx-padding: 10px;
    -fx-border-width: 1px;
    -fx-font-size: 16px;
}

/* Quand la direction de la case sélectionnée est la même que celle de clue */
.clue-view.selected1 {
    -fx-background-color: red;
}

/* Quand la direction de la case sélectionnée est différente de celle de clue */
.clue-view.selected2 {
    -fx-background-color: lightblue;
}